<header
	class="py-6 bg-background z-50"
	[ngClass]="{'absolute top-0 left-0 w-full': absolute}"
>
	<app-container>
		<div class="flex justify-between items-center">
			<div class="flex gap-7">
				<a routerLink="/">
					<img src="/images/logo.svg" alt="logo" />
				</a>
				<nav>
					<ul>
						<li>
							<a routerLink="/catalog">
								<app-typography as="span">Catalog</app-typography>
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="flex gap-4">
				<app-button
					element="navlink"
					href="/auth/login"
					variant="secondary"
				>
					Log in
				</app-button>
				<app-button element="navlink" href="/auth/signup">
					Sign up
				</app-button>
			</div>
		</div>
	</app-container>
</header>
