<form (ngSubmit)="onSubmit()">
	<app-form-field class="max-w-[225px]" label="Avatar" [error]="error">
		<img
			appAvatar
			class="mb-2"
			size="225"
			[src]="imagePath()"
			[alt]="`${username()} avatar`"
		/>
		<div class="flex gap-2 mb-3">
			<button
				appButton
				class="flex-1"
				size="sm"
				variant="outline"
				(click)="previewPath() ? reset() : openFilePicker()"
			>
				{{ previewPath() ? 'Reset' : 'Upload' }}
			</button>
			<button
				appButton
				class="flex-1"
				size="sm"
				variant="outline"
				(click)="remove()"
			>
				Remove
			</button>
		</div>
		<button
			appButton
			class="w-full"
			type="submit"
			size="sm"
			[disabled]="isLoading()"
		>
			Submit
		</button>
		<input #fileInput type="file" hidden (change)="upload($event)" />
	</app-form-field>
</form>
