<ng-container [ngSwitch]="element">
	<button
		*ngSwitchCase="'button'"
		[class]="classes"
		type="{{ submit ? 'submit' : 'button' }}"
	>
		<app-typography as="span" weight="semibold">
			<ng-container [ngTemplateOutlet]="content" />
		</app-typography>
	</button>
	<a *ngSwitchCase="'navlink'" [class]="classes" [routerLink]="href">
		<app-typography as="span" weight="semibold">
			<ng-container [ngTemplateOutlet]="content" />
		</app-typography>
	</a>
</ng-container>

<ng-template #content>
	<ng-content />
</ng-template>
