<div class="shrink-0">
	<img
		class="w-[115px] rounded-lg"
		[src]="composerImage()"
		[alt]="piece().title"
	/>
</div>
<div class="grow flex flex-col justify-between gap-2">
	<div class="flex items-start justify-between gap-4">
		<div>
			<a [routerLink]="`/pieces/${piece().id}`">
				<p class="text-nowrap" weight="bold" color="primary">
					{{ piece().title }}
				</p>
			</a>
			<p class="text-nowrap">
				By
				<a [routerLink]="`/composers/${piece().composer.id}`">
					<span color="primary">{{ composerName() }}</span>
				</a>
			</p>
		</div>
		<div class="flex items-center gap-1">
			<p>{{ piece().learners.toLocaleString() }}</p>
			<i class="ph-fill ph-user text-xl"></i>
		</div>
	</div>
	<p class="line-clamp-2">{{ piece().description }}</p>
	<div class="flex items-end gap-4">
		@if (!hideGenre()) {
			<div
				class="py-1.5 px-2.5 rounded-lg"
				[class.bg-surface]="!isEven()"
				[class.bg-background]="isEven()"
			>
				<p class="capitalize" variant="body2">
					{{ piece().genre.name }}
				</p>
			</div>
		}
		<button appButton class="ml-auto" size="sm">Add to List</button>
	</div>
</div>
