<div
	class="p-4 flex gap-4"
	[class.bg-background]="variant() === 'odd'"
	[class.bg-surface]="variant() === 'even'"
>
	<div class="shrink-0">
		<img
			class="w-[115px] rounded-lg"
			[src]="photoPath()"
			[alt]="piece().title"
		/>
	</div>
	<div class="grow flex flex-col justify-between gap-2">
		<div class="flex items-start justify-between gap-4">
			<div>
				<a [routerLink]="`/pieces/${piece().id}`">
					<app-typography
						textClass="text-nowrap"
						weight="bold"
						color="primary"
						>{{ piece().title }}
					</app-typography>
				</a>
				<app-typography textClass="text-nowrap"
					>By
					<app-typography as="span" color="primary">{{
						composerName()
					}}</app-typography></app-typography
				>
			</div>
			<div class="flex items-center gap-1">
				<app-typography>1,000,000</app-typography>
				<i class="ph-fill ph-user text-xl"></i>
			</div>
		</div>
		<app-typography textClass="line-clamp-2">{{
			piece().description
		}}</app-typography>
		<div class="flex items-end gap-4">
			@if (!hideGenre()) {
				<div
					class="py-1.5 px-2.5 rounded-lg"
					[class.bg-surface]="variant() === 'odd'"
					[class.bg-background]="variant() === 'even'"
				>
					<app-typography textClass="capitalize" size="sm">{{
						piece().genre.name
					}}</app-typography>
				</div>
			}
			<app-button class="ml-auto" size="sm">Add to List</app-button>
		</div>
	</div>
</div>
