<section class="py-10">
	<div appContainer size="md">
		<h1 class="text-center mb-7">Settings</h1>
		@if (profile.data(); as profile) {
			<div class="grid grid-cols-2 gap-6">
				<div>
					<h2 class="mb-4">Account</h2>
					<div class="flex flex-col gap-6">
						<app-username-form [defaultUsername]="profile.username" />

						<app-password-form />
					</div>
				</div>
				<div>
					<h2 class="mb-4">Profile</h2>
					<div class="flex flex-col gap-6">
						<app-avatar-form
							[(defaultAvatar)]="profile.avatar"
							[username]="profile.username"
						/>
						<app-biography-form
							class="w-full"
							[defaultBiography]="profile.biography"
						/>
					</div>
				</div>
			</div>
		}
	</div>
</section>
