<app-header absolute>
	<app-logo slot="left-1" />
	<app-navbar slot="left-2" />
	<ng-container slot="right">
		@if (auth.user(); as user) {
			<div class="flex items-center gap-3">
				<app-list-button class="max-sm:hidden" [username]="user.username" />
				<app-profile [username]="user.username" [avatar]="user.avatar" />
			</div>
		}

		@if (auth.user() === null) {
			<app-auth-buttons />
		}

		@if (auth.user() === undefined) {
			Loading...
		}
	</ng-container>
</app-header>

<main>
	<router-outlet />
</main>
