<div class="h-[88px] mb-10"></div>
<section>
	<div appContainer size="md">
		@if (profile.isLoading()) {
			<p>Loading...</p>
		}

		@if (profile.hasError()) {
			<p>Something went wrong fetching the profile.</p>
		}

		@if (profile.data() === null) {
			<p>The profile doesn't exist.</p>
		}

		@if (profile.data(); as profile) {
			<div class="grid grid-cols-[225px_1fr] gap-6">
				<div class="bg-red">
					<img
						class="rounded-lg"
						width="225"
						height="225"
						[src]="profile.avatar ? `/server/${profile.avatar}` : '/images/avatar.jpg'"
						[alt]="`${profile.username} avatar`"
					/>
				</div>
				<div class="row-span-2">
					<h3 class="mb-2">{{ profile.username }}</h3>
					<p class="mb-4">
						{{ profile.biography || 'No biography yet.' }}
					</p>

					@if (stats.isLoading()) {
						<p>Loading...</p>
					}

					@if (stats.hasError()) {
						<p>Something went wrong fetching statistics.</p>
					}

					@if (stats.data() === null) {
						<p>The statistics doesn't exist.</p>
					}

					@if (stats.data(); as stats) {
						<div
							class="grid grid-cols-[fit-content(100%)_fit-content(100%)] gap-x-2 gap-y-1 mb-4"
						>
							<app-status-label />
							<p weight="medium">{{ stats.total }}</p>
							@for (
								statusStat of stats.statuses;
								track statusStat.status
							) {
								<app-status-label [status]="statusStat.status" />
								<p weight="medium">{{ statusStat.count }}</p>
							}
						</div>
					}
					<h3 class="mb-3">Favorites</h3>
					<h4>Pieces</h4>
					<h4>Composers</h4>
				</div>

				<div>
					<p class="mb-4 text-center">
						Joined
						<span weight="medium">{{
							formatJoinedAt(profile.createdAt)
						}}</span>
					</p>
					<button appButton class="w-full">Piano List</button>
				</div>
			</div>
		}
	</div>
</section>
