<div class="h-[88px]"></div>
<section class="py-10">
	<div appContainer size="md">
		@if (isLoading()) {
			<p>Loading...</p>
		} @else if (hasError()) {
			<p>Something went wrong fetching the profile.</p>
		} @else {
			@if (profile.data(); as profile) {
				<div class="grid grid-cols-[225px_1fr] grid-rows-[225px_1fr] gap-6">
					<div class="bg-red">
						<img
							appAvatar
							size="225"
							[src]="profile.avatar ? `/server/${profile.avatar}` : null"
							[alt]="`${profile.username} avatar`"
						/>
					</div>
					<div class="row-span-2">
						<h3 class="mb-2">{{ profile.username }}</h3>
						<p class="mb-4">
							{{ profile.biography || 'No biography yet.' }}
						</p>

						@if (stats.data(); as stats) {
							<div
								class="grid grid-cols-[fit-content(100%)_fit-content(100%)] gap-x-2 gap-y-1 mb-4"
							>
								<app-status-label />
								<p weight="medium">{{ stats.total }}</p>
								@for (
									statusStat of stats.statuses;
									track statusStat.status
								) {
									<app-status-label [status]="statusStat.status" />
									<p weight="medium">{{ statusStat.count }}</p>
								}
							</div>
						} @else {
							<p>The statistics doesn't exist.</p>
						}

						<h3 class="mb-3">Favorites</h3>
						<h4 class="mb-2">Pieces</h4>

						<div class="mb-4">
							@if (pieces.data().length !== 0) {
								<div class="flex gap-2">
									@for (piece of pieces.data(); track piece.id) {
										<a [routerLink]="['/pieces', piece.id]">
											<app-favorite-piece-card [piece]="piece" />
										</a>
									}
								</div>
							} @else {
								<p>You have no favorite pieces.</p>
							}
						</div>

						<h4 class="mb-2">Composers</h4>

						@if (composers.data().length !== 0) {
							<div class="flex gap-2">
								@for (composer of composers.data(); track composer.id) {
									<a [routerLink]="['/composers', composer.id]">
										<app-favorite-composer-card
											[composer]="composer"
										/>
									</a>
								}
							</div>
						} @else {
							<p>You have no favorite composers.</p>
						}
					</div>

					<div>
						<p class="mb-4 text-center">
							Joined
							<span weight="medium">{{
								formatJoinedAt(profile.createdAt)
							}}</span>
						</p>
						<a
							appButton
							class="w-full"
							[routerLink]="['/list', profile.username]"
							>Piano List</a
						>
					</div>
				</div>
			} @else {
				<p>The profile doesn't exist.</p>
			}
		}
	</div>
</section>
