<form class="relative justify-self-center" (ngSubmit)="onSearch()">
	<input
		appInput
		size="sm"
		class="pr-10"
		placeholder="Search List..."
		[value]="searchValue()"
		(input)="onSearchInput($event)"
	/>

	<div class="absolute right-4 top-1/2 translate-y-[-50%]">
		@if (searchValue().length !== 0) {
			<button
				type="button"
				[disabled]="isDisabled()"
				(click)="onSearchClear()"
			>
				<i appTypography class="ph ph-x" color="primary"></i>
			</button>
		} @else {
			<i appTypography class="ph ph-magnifying-glass" color="primary"></i>
		}
	</div>
</form>
