<div class="h-[88px]"></div>
<section class="py-10">
	<div appContainer size="md">
		@if (piece.isLoading()) {
			<p>Loading...</p>
		}

		@if (piece.hasError()) {
			<p>Something went wrong fetching the piece.</p>
		}

		@if (piece.data() === null) {
			<p>The piece doesn't exist.</p>
		}

		@if (piece.data(); as piece) {
			<app-piece-details [piece]="piece">
				<div class="mb-4 flex gap-2" slot="actions">
					<app-add-piece-to-list-button
						[status]="piece.status"
						(appClick)="openAddToListModal()"
					/>
					<app-favorites-button
						[inFavorites]="!!piece.inFavorites"
						(appAddToFavorites)="openAddToFavoritesAlert()"
						(appRemoveFromFavorites)="openRemoveFromFavoritesAlert()"
					/>
				</div>
			</app-piece-details>
		}
	</div>
</section>

@if (addToListModalIsOpen()) {
	@if (piece.data(); as piece) {
		<div appModalContainer>
			<app-add-piece-to-list-form
				[piece]="piece"
				(appSubmit)="onAddToListSubmit()"
				(appClickOutside)="closeAddToListModal()"
			/>
		</div>
	}
}

@if (addToFavoritesAlertIsOpen()) {
	@if (piece.data(); as piece) {
		<div appModalContainer>
			<app-add-piece-to-favorites-alert
				[piece]="piece"
				(appConfirm)="onAddToFavorites()"
				(appCancel)="closeAddToFavoritesAlert()"
				(appClickOutside)="closeAddToFavoritesAlert()"
			/>
		</div>
	}
}

@if (removeFromFavoritesAlertIsOpen()) {
	@if (piece.data(); as piece) {
		<div appModalContainer>
			<app-remove-piece-from-favorites-alert
				[piece]="piece"
				(appConfirm)="onRemoveFromFavorites()"
				(appCancel)="closeRemoveFromFavoritesAlert()"
				(appClickOutside)="closeRemoveFromFavoritesAlert()"
			/>
		</div>
	}
}
