<div class="h-[88px] mb-10"></div>
<section>
	<div appContainer size="md">
		@if (piece.data() === undefined) {
			<p>Loading...</p>
		}

		@if (piece.data() === null) {
			<p>The piece doesn't exist.</p>
		}

		@if (piece.data(); as piece) {
			<app-piece-details [piece]="piece">
				<div class="mb-4 flex gap-2" slot="actions">
					<button appButton size="sm" (click)="openAddToListModal()">
						Add to List
					</button>
					@if (!piece.inFavorites) {
						<button
							appButton
							size="sm"
							variant="outline"
							(click)="openAddToFavoritesAlert()"
						>
							Add to Favorites
						</button>
					} @else {
						<button appButton size="sm" variant="outline">
							Remove from Favorites
						</button>
					}
				</div>
			</app-piece-details>
		}
	</div>
</section>

@if (addToListModalIsOpen()) {
	@if (piece.data(); as piece) {
		<div appModalContainer>
			<app-add-piece-to-list-form
				[piece]="piece"
				(appSubmit)="onAddToListSubmit()"
				(appClickOutside)="closeAddToListModal()"
			/>
		</div>
	}
}

@if (addToFavoritesAlertIsOpen()) {
	@if (piece.data(); as piece) {
		<div appModalContainer>
			<app-add-piece-to-favorites-alert
				[piece]="piece"
				(appConfirm)="onAddToFavorites()"
				(appCancel)="closeAddToFavoritesAlert()"
				(appClickOutside)="closeAddToFavoritesAlert()"
			/>
		</div>
	}
}
