<form appForm class="bg-background-darker" [formGroup]="form">
	<h3 class="text-center mb-1">Add Piece to My List</h3>
	<p class="text-center" color="primary" weight="semibold">
		{{ piece().title }}
	</p>
	<p class="text-center mb-4">By F. F. Chopin</p>

	<div class="flex flex-col gap-4 mb-7">
		<app-form-field label="Status" [error]="statusError">
			<input appInput formControlName="status" placeholder="Select Status" />
		</app-form-field>

		<app-form-field label="Start Date" [error]="startDateError">
			<input appInput formControlName="startDate" placeholder="DD/MM/YY" />
		</app-form-field>

		<app-form-field label="Finish Date" [error]="finishDateError">
			<input appInput formControlName="finishDate" placeholder="DD/MM/YY" />
		</app-form-field>
	</div>

	<button appButton class="w-full" type="submit" [disabled]="!form.valid">
		Submit
	</button>
</form>
