<div class="h-[88px] mb-10"></div>
<section>
	<div appContainer size="md">
		@if (composer.isLoading()) {
			<p>Loading...</p>
		}

		@if (composer.hasError()) {
			<p>Something went wrong fetching the composer.</p>
		}

		@if (composer.data() === null) {
			<p>The composer doesn't exist.</p>
		}

		@if (composer.data(); as composer) {
			<app-composer-details [composer]="composer">
				<ng-container slot="actions">
					<app-favorites-button
						class="block mb-4"
						[inFavorites]="!!composer.inFavorites"
						(appAddToFavorites)="openAddToFavoritesAlert()"
						(appRemoveFromFavorites)="openRemoveFromFavoritesAlert()"
					/>
				</ng-container>
			</app-composer-details>
		}
	</div>
</section>

@if (addToFavoritesAlertIsOpen()) {
	@if (composer.data(); as composer) {
		<div appModalContainer>
			<app-add-composer-to-favorites-alert
				[composer]="composer"
				(appConfirm)="onAddToFavorites()"
				(appCancel)="closeAddToFavoritesAlert()"
				(appClickOutside)="closeAddToFavoritesAlert()"
			/>
		</div>
	}
}

@if (removeFromFavoritesAlertIsOpen()) {
	@if (composer.data(); as composer) {
		<div appModalContainer>
			<app-remove-composer-from-favorites-alert
				[composer]="composer"
				(appConfirm)="onRemoveFromFavorites()"
				(appCancel)="closeRemoveFromFavoritesAlert()"
				(appClickOutside)="closeRemoveFromFavoritesAlert()"
			/>
		</div>
	}
}
