<div class="h-[88px] mb-10"></div>
<section>
	<div appContainer size="md">
		@if (composer.data() === undefined) {
			<p>Loading...</p>
		}

		@if (composer.data() === null) {
			<p>The composer doesn't exist.</p>
		}

		@if (composer.data(); as composer) {
			<app-composer-details [composer]="composer">
				<ng-container slot="actions">
					<button
						appButton
						size="sm"
						variant="outline"
						(click)="openAddToFavoritesAlert()"
					>
						Add to Favorites
					</button>
				</ng-container>
			</app-composer-details>
		}
	</div>
</section>

@if (addToFavoritesAlertIsOpen()) {
	@if (composer.data(); as composer) {
		<div appModalContainer>
			<app-add-composer-to-favorites-alert
				[composer]="composer"
				(appConfirm)="onAddToFavorites()"
				(appCancel)="closeAddToFavoritesAlert()"
				(appClickOutside)="closeAddToFavoritesAlert()"
			/>
		</div>
	}
}
