<div class="h-[88px] mb-10"></div>
<section>
	<app-container size="md">
		<form class="flex justify-center mb-7" (ngSubmit)="handleSearch()">
			<div class="relative">
				<app-input
					inputClass="pl-14 rounded-tr-none rounded-br-none"
					placeholder="Search Pieces..."
					(onInput)="handleSearchInput($event)"
				/>

				<i
					class="ph ph-magnifying-glass text-2xl text-primary absolute top-1/2 left-4 translate-y-[-50%]"
				></i>
			</div>
			<div>
				<app-button
					class="block h-full"
					buttonClass="h-full rounded-tl-none rounded-bl-none"
					submit
					>Search</app-button
				>
			</div>
		</form>
		<div class="flex justify-between items-center mb-7">
			<app-typography
				>Pieces
				<app-typography as="span" weight="bold">{{
					pieces.totalCount()
				}}</app-typography>
			</app-typography>
			<div class="relative">
				<button
					class="flex items-center gap-2"
					type="button"
					(click)="toggleSortDropdownIsOpen()"
				>
					<app-typography as="span">Sort by</app-typography>

					<i class="ph ph-caret-down"></i>
				</button>
				@if (sortDropdownIsOpen()) {
					<app-dropdown class="absolute top-full left-0 pt-2">
						<app-dropdown-item>Learners</app-dropdown-item>
						<app-dropdown-item>Favorites</app-dropdown-item>
					</app-dropdown>
				}
			</div>
		</div>
		<div class="rounded-lg overflow-hidden">
			@for (piece of pieces.data(); track piece.id; let i = $index) {
				<app-piece-card
					[piece]="piece"
					[variant]="(i + 1) % 2 === 0 ? 'even' : 'odd'"
				></app-piece-card>
			}
		</div>
	</app-container>
</section>
