<div class="h-[88px] mb-10"></div>
<section>
	<div appContainer size="md">
		<h1 class="mb-7 text-center capitalize">{{ title() }}</h1>
		<form class="flex justify-center mb-7" (ngSubmit)="onSearch()">
			<div class="relative">
				@if (searchValue().trim().length > 0) {
					<button
						type="button"
						(click)="onSearchClear()"
						[disabled]="pieces.isLoading()"
					>
						<i [class]="'ph ph-x ' + iconClasses"></i>
					</button>
				} @else {
					<i [class]="'ph ph-magnifying-glass ' + iconClasses"></i>
				}

				<input
					appInput
					class="pl-14 rounded-tr-none rounded-br-none"
					placeholder="Search Pieces..."
					[value]="searchValue()"
					(input)="onSearchInput($event)"
				/>
			</div>
			<div>
				<button
					appButton
					class="h-full rounded-tl-none rounded-bl-none"
					type="submit"
					[disabled]="pieces.isLoading()"
				>
					Search
				</button>
			</div>
		</form>
		<div class="flex justify-between items-center mb-7">
			<p>
				Pieces
				<span weight="bold">{{
					pieces.isLoading() ? '...' : pieces.totalCount()
				}}</span>
			</p>
			<div class="relative">
				<button
					class="flex items-center gap-2"
					type="button"
					(click)="toggleSortDropdownIsOpen()"
				>
					<span>Sort by</span>

					<i class="ph ph-caret-down"></i>
				</button>
				@if (sortDropdownIsOpen()) {
					<app-dropdown
						class="absolute top-full left-0 min-w-full pt-2"
						(appClickOutside)="closeSortDropdown()"
					>
						<app-dropdown-item
							[isActive]="sort() === 'created_at'"
							(appClick)="onSortClick(null)"
							>Date</app-dropdown-item
						>

						<app-dropdown-item
							[isActive]="sort() === 'learners'"
							(appClick)="onSortClick('learners')"
							>Learners</app-dropdown-item
						>

						<app-dropdown-item
							[isActive]="sort() === 'favorites'"
							(appClick)="onSortClick('favorites')"
							>Favorites</app-dropdown-item
						>
					</app-dropdown>
				}
			</div>
		</div>

		@if (pieces.isLoading()) {
			<p>Loading...</p>
		} @else if (pieces.hasError()) {
			<p>Something went wrong.</p>
		} @else if (pieces.data().length === 0) {
			<p>There are no pieces.</p>
		} @else {
			<div class="rounded-lg overflow-hidden mb-7">
				@for (piece of pieces.data(); track piece.id) {
					<app-piece-card
						[piece]="piece"
						[isEven]="$odd"
						[hideGenre]="!!genre()"
					>
						<ng-container slot="bottom-right">
							<app-add-piece-to-list-button
								(appClick)="openAddToListModal(piece)"
							/>
						</ng-container>
					</app-piece-card>
				}
			</div>
			<app-pagination
				class="flex justify-center"
				[page]="pieces.page()"
				[totalPages]="pieces.totalPages()"
				(appPageChange)="onPageChange($event)"
			/>
		}
	</div>

	@if (pieceToAddToList(); as piece) {
		<div appModalContainer>
			<app-add-piece-to-list-form
				[piece]="piece"
				(appSubmit)="onAddToListSubmit()"
				(appClickOutside)="closeAddToListModal()"
			/>
		</div>
	}
</section>
