<app-form [formGroup]="form" (ngSubmit)="onSubmit()">
	<app-typography class="block mb-7" textClass="text-center" variant="h1"
		>Login</app-typography
	>
	<div class="flex flex-col gap-4 mb-7">
		<app-form-field
			formControlName="username"
			label="Username"
			placeholder="username"
			[error]="usernameError"
		/>
		<app-form-field
			formControlName="password"
			label="Password"
			placeholder="password"
			type="password"
			[error]="passwordError"
		/>
	</div>
	<app-button
		class="block mb-2"
		buttonClass="w-full"
		submit
		[disabled]="!form.valid"
	>
		Log In
	</app-button>
	<app-typography>
		Don't have an account? <app-link href="/auth/signup">Sign Up</app-link>
	</app-typography>
</app-form>
