<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<div class="flex flex-col gap-2 mb-3">
		<app-form-field label="New Password" [error]="passwordError">
			<input
				appInput
				placeholder="password"
				formControlName="password"
				type="password"
			/>
		</app-form-field>

		<app-form-field
			label="Confirm New Password"
			[error]="confirmPasswordError"
		>
			<input
				appInput
				placeholder="password"
				formControlName="confirmPassword"
				type="password"
			/>
		</app-form-field>
	</div>
	<button
		appButton
		type="submit"
		size="sm"
		[disabled]="submitButtonIsDisabled"
	>
		Submit
	</button>
</form>
