<ng-container [ngSwitch]="tag">
	<h1 *ngSwitchCase="'h1'" [class]="classes">
		<ng-container [ngTemplateOutlet]="content" />
	</h1>
	<h3 *ngSwitchCase="'h3'" [class]="classes">
		<ng-container [ngTemplateOutlet]="content" />
	</h3>
	<p *ngSwitchCase="'p'" [class]="classes">
		<ng-container [ngTemplateOutlet]="content" />
	</p>
	<span *ngSwitchCase="'span'" [class]="classes">
		<ng-container [ngTemplateOutlet]="content" />
	</span>
	<h2 *ngSwitchCase="'h2'" [class]="classes">
		<ng-container [ngTemplateOutlet]="content" />
	</h2>
</ng-container>

<ng-template #content>
	<ng-content />
</ng-template>
