<div class="h-[88px] mb-10"></div>
<section>
	<div appContainer size="md">
		<h1 class="mb-7 text-center capitalize">MyPianoList</h1>

		@if (pieceStatuses.isLoading()) {
			<p>Loading...</p>
		} @else if (pieceStatuses.hasError()) {
			<p>Something went wrong.</p>
		} @else if (pieceStatuses.data().length === 0) {
			<p>There are no piece statuses.</p>
		} @else {
			<ul class="flex justify-center items-center gap-4">
				<li>
					<a routerLink="./">
						<app-tab [isActive]="status() === undefined"
							>All pieces</app-tab
						>
					</a>
				</li>
				@for (statusItem of pieceStatuses.data(); track statusItem) {
					<li>
						<a routerLink="./" [queryParams]="{status: statusItem}">
							<app-tab [isActive]="status() === statusItem">{{
								getStatusText(statusItem)
							}}</app-tab>
						</a>
					</li>
				}
			</ul>
		}

		<table class="w-full mt-7">
			<thead appPieceListTableHead></thead>
			<tbody>
				@for (piece of pieceList.data(); track piece.id; let i = $index) {
					<tr appPieceListTableRow [number]="i + 1" [piece]="piece">
						<div class="flex gap-2" slot="actions">
							<app-edit-piece-button
								(appClick)="openEditPieceModal(piece)"
							/>
							<app-remove-piece-from-list-button
								(appClick)="openRemovePieceAlert(piece)"
							/>
						</div>
					</tr>
				}
			</tbody>
		</table>
	</div>
	@if (pieceToRemove(); as piece) {
		<div appModalContainer>
			<app-remove-piece-from-list-alert
				[piece]="piece"
				(appCancel)="closeRemovePieceAlert()"
				(appConfirm)="onRemovePieceConfirm()"
				(appClickOutside)="closeRemovePieceAlert()"
			/>
		</div>
	}
	@if (pieceToEdit(); as piece) {
		<div appModalContainer>
			<app-edit-piece-form
				[piece]="piece"
				(appSubmit)="onEditPieceSubmit()"
				(appClickOutside)="closeEditPieceModal()"
			/>
		</div>
	}
</section>
