<section class="py-10">
	<div appContainer size="md">
		<h1 class="mb-7 text-center capitalize">MyPianoList</h1>

		<app-status-tabs [status]="status()" />

		<div class="grid grid-cols-3 items-center gap-4 mb-2 mt-7">
			<p class="justify-self-start">
				Pieces
				<span weight="medium">{{
					list.isLoading() ? '...' : list.totalCount()
				}}</span>
			</p>

			<app-search-bar [isDisabled]="list.isLoading()" />

			<app-list-sort-dropdown [sort]="sort()" />
		</div>

		@if (list.isLoading()) {
			<p>Loading...</p>
		} @else if (list.hasError()) {
			<p>Something went wrong.</p>
		} @else if (list.data().length === 0) {
			<p>Your list is empty.</p>
		} @else {
			<table class="w-full">
				<thead appPieceListTableHead></thead>
				<tbody>
					@for (piece of list.data(); track piece.id; let i = $index) {
						<tr appPieceListTableRow [number]="i + 1" [piece]="piece">
							<div class="flex gap-2" slot="actions">
								@if (isAuth()) {
									<ng-container>
										<app-edit-piece-button
											(appClick)="openEditPieceModal(piece)"
										/>
										<app-remove-piece-from-list-button
											(appClick)="openRemovePieceAlert(piece)"
										/>
									</ng-container>
								} @else if (piece.status === undefined) {
									<button (click)="openAddPieceModal(piece)">
										<i
											appTypography
											class="ph ph-plus-square"
											color="success"
										></i>
									</button>
								}
							</div>
						</tr>
					}
				</tbody>
			</table>
		}

		@if (list.hasMore() && !list.isLoading()) {
			<div class="mt-4 flex justify-center">
				@if (list.isLoadingMore()) {
					<p>Loading...</p>
				} @else {
					<button
						appButton
						variant="outline"
						size="sm"
						(click)="onFetchMore()"
					>
						Load More
					</button>
				}
			</div>
		}
	</div>

	@if (pieceToRemove(); as piece) {
		<div appModalContainer>
			<app-remove-piece-from-list-alert
				[piece]="piece"
				(appCancel)="closeRemovePieceAlert()"
				(appConfirm)="onRemovePieceConfirm()"
				(appClickOutside)="closeRemovePieceAlert()"
			/>
		</div>
	}

	@if (pieceToEdit(); as piece) {
		<div appModalContainer>
			<app-edit-piece-form
				[piece]="piece"
				(appSubmit)="onEditPieceSubmit()"
				(appClickOutside)="closeEditPieceModal()"
			/>
		</div>
	}

	@if (pieceToAdd(); as piece) {
		<div appModalContainer>
			<app-add-piece-to-list-form
				[piece]="piece"
				(appSubmit)="onAddPieceSubmit()"
				(appClickOutside)="closeAddPieceModal()"
			/>
		</div>
	}
</section>
