<div class="h-[88px] mb-10"></div>
<section>
	<div appContainer size="md">
		<h1 class="mb-7 text-center capitalize">MyPianoList</h1>

		@if (pieceStatuses.isLoading()) {
			<p>Loading...</p>
		} @else if (pieceStatuses.hasError()) {
			<p>Something went wrong.</p>
		} @else if (pieceStatuses.data().length === 0) {
			<p>There are no piece statuses.</p>
		} @else {
			<ul class="flex justify-center items-center gap-4">
				<li>
					<app-tab
						[isActive]="activeStatus() === 'all_pieces'"
						(onClick)="handleTabClick('all_pieces')"
						>All pieces</app-tab
					>
				</li>
				@for (status of pieceStatuses.data(); track status) {
					<li>
						<app-tab
							[isActive]="activeStatus() === status"
							(onClick)="handleTabClick(status)"
							>{{ piecesUtils.statusToText(status) }}</app-tab
						>
					</li>
				}
			</ul>
		}
	</div>
</section>
