<div class="h-[88px] mb-10"></div>
<section>
	<div appContainer size="md">
		<h1 class="mb-7 text-center capitalize">MyPianoList</h1>

		@if (fetchPieceStatuses.isLoading()) {
			<p>Loading...</p>
		} @else if (fetchPieceStatuses.hasError()) {
			<p>Something went wrong.</p>
		} @else if (fetchPieceStatuses.data().length === 0) {
			<p>There are no piece statuses.</p>
		} @else {
			<ul class="flex justify-center items-center gap-4">
				<li>
					<a routerLink="/list">
						<app-tab [isActive]="activeStatus() === null"
							>All pieces</app-tab
						>
					</a>
				</li>
				@for (status of fetchPieceStatuses.data(); track status) {
					<li>
						<a routerLink="/list" [queryParams]="{status}">
							<app-tab [isActive]="activeStatus() === status">{{
								pieceUtils.statusToText(status)
							}}</app-tab>
						</a>
					</li>
				}
			</ul>
		}

		<table>
			<thead>
				<tr>
					<th>#</th>
					<th>Title</th>
					<th>Composer</th>
					<th>Genre</th>
					<th>Score</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				@for (
					piece of fetchPieceList.data();
					track piece.id;
					let i = $index
				) {
					<tr>
						<td>{{ i + 1 }}</td>
						<td>{{ piece.title }}</td>
						<td>{{ piece.composer.firstName }}</td>
						<td>{{ piece.genre.name }}</td>
						<td>{{ piece.score || '-' }}</td>
						<td>{{ piece.status }}</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</section>
