<div class="h-[88px] mb-10"></div>
<section>
	<div appContainer size="md">
		<h1 class="mb-7 text-center capitalize">MyPianoList</h1>

		@if (pieceList.isLoading()) {
			<p>Loading...</p>
		} @else if (pieceList.hasError()) {
			<p>Something went wrong.</p>
		} @else if (pieceList.data().length === 0) {
			<p>There are no piece statuses.</p>
		} @else {
			<ul class="flex justify-center items-center gap-4">
				<li>
					<a routerLink="/list">
						<app-tab [isActive]="activeStatus() === null"
							>All pieces</app-tab
						>
					</a>
				</li>
				@for (status of pieceStatuses.data(); track status) {
					<li>
						<a routerLink="/list" [queryParams]="{status}">
							<app-tab [isActive]="activeStatus() === status">{{
								getStatusText(status)
							}}</app-tab>
						</a>
					</li>
				}
			</ul>
		}

		<table class="w-full mt-7">
			<thead>
				<tr
					appTypography
					class="text-left border-b-1 border-surface *:not-first:p-4"
				>
					<th class="w-1"></th>
					<th>#</th>
					<th>Title</th>
					<th>Composer</th>
					<th>Genre</th>
					<th>Score</th>
				</tr>
			</thead>
			<tbody>
				@for (piece of pieceList.data(); track piece.id; let i = $index) {
					<tr
						appTypography
						class="even:surface capitalize *:text-left *:not-first:p-4"
					>
						<td
							[class]="'w-1' + ` ${getStatusBgColorClass(piece.status)}`"
						></td>
						<td>{{ i + 1 }}</td>
						<td>{{ piece.title }}</td>
						<td>{{ piece.composer.firstName }}</td>
						<td>{{ piece.genre.name }}</td>
						<td>{{ piece.score || '-' }}</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</section>
