<div class="h-[88px] mb-10"></div>
<section>
	<div appContainer size="md">
		<h1 class="mb-7 text-center capitalize">MyPianoList</h1>

		@if (pieceStatuses.isLoading()) {
			<p>Loading...</p>
		} @else if (pieceStatuses.hasError()) {
			<p>Something went wrong.</p>
		} @else if (pieceStatuses.data().length === 0) {
			<p>There are no piece statuses.</p>
		} @else {
			<ul class="flex justify-center items-center gap-4">
				<li>
					<a
						routerLink="./"
						[queryParams]="{status: undefined}"
						queryParamsHandling="merge"
					>
						<app-tab [isActive]="status() === undefined"
							>All Pieces</app-tab
						>
					</a>
				</li>
				@for (statusItem of pieceStatuses.data(); track statusItem) {
					<li>
						<a
							routerLink="./"
							[queryParams]="{status: statusItem}"
							queryParamsHandling="merge"
						>
							<app-tab [isActive]="status() === statusItem">{{
								getStatusText(statusItem)
							}}</app-tab>
						</a>
					</li>
				}
			</ul>
		}

		<div class="flex mb-2 mt-7">
			<app-sort-dropdown
				class="ml-auto"
				[(menuIsOpen)]="sortDropdownMenuIsOpen"
			>
				<app-dropdown-item
					[isActive]="sort() === undefined"
					(appClick)="onSortClick(undefined)"
					>Date</app-dropdown-item
				>

				<app-dropdown-item
					[isActive]="sort() === 'score'"
					(appClick)="onSortClick('score')"
					>Score</app-dropdown-item
				>
			</app-sort-dropdown>
		</div>

		<table class="w-full">
			<thead appPieceListTableHead></thead>
			<tbody>
				@for (piece of pieceList.data(); track piece.id; let i = $index) {
					<tr appPieceListTableRow [number]="i + 1" [piece]="piece">
						<div class="flex gap-2" slot="actions">
							@if (isAuth()) {
								<ng-container>
									<app-edit-piece-button
										(appClick)="openEditPieceModal(piece)"
									/>
									<app-remove-piece-from-list-button
										(appClick)="openRemovePieceAlert(piece)"
									/>
								</ng-container>
							} @else if (piece.status === undefined) {
								<button (click)="openAddPieceModal(piece)">
									<i
										appTypography
										class="ph ph-plus-square"
										color="success"
									></i>
								</button>
							}
						</div>
					</tr>
				}
			</tbody>
		</table>
	</div>
	@if (pieceToRemove(); as piece) {
		<div appModalContainer>
			<app-remove-piece-from-list-alert
				[piece]="piece"
				(appCancel)="closeRemovePieceAlert()"
				(appConfirm)="onRemovePieceConfirm()"
				(appClickOutside)="closeRemovePieceAlert()"
			/>
		</div>
	}
	@if (pieceToEdit(); as piece) {
		<div appModalContainer>
			<app-edit-piece-form
				[piece]="piece"
				(appSubmit)="onEditPieceSubmit()"
				(appClickOutside)="closeEditPieceModal()"
			/>
		</div>
	}

	@if (pieceToAdd(); as piece) {
		<div appModalContainer>
			<app-add-piece-to-list-form
				[piece]="piece"
				(appSubmit)="onAddPieceSubmit()"
				(appClickOutside)="closeAddPieceModal()"
			/>
		</div>
	}
</section>
