<div class="flex items-center gap-4">
	<div class="flex items-center gap-2">
		<app-typography weight="semibold">{{ username }}</app-typography>
		<i class="ph-fill ph-caret-down"></i>
	</div>
	@if (imageHasError) {
		<div
			class="flex items-center justify-center w-[50px] h-[50px] rounded-full bg-surface"
		>
			<i class="ph-fill ph-user text-2xl"></i>
		</div>
	} @else {
		<img
			class="block object-cover max-w-full rounded-full bg-surface"
			[src]="avatarSrc"
			(error)="handleImageError()"
			width="50"
			height="50"
		/>
	}
</div>
